@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --text-heading-1: 34px;
}

@layer components {

    .heading-title-1 {
        font-size: var(--text-heading-1);
        font-weight: var(--font-weight-semibold);
        color: var(--color-gray-950);
    }
}